
<app-user-list [userList]='userList' (outputTest)="outputTest($event)"> <!-- 부모에서 자식전달, 자식에서 부모전달  -->
</app-user-list>

<app-user-insert (outputUser)="outputUser($event)">
</app-user-insert>



<!-- <button (click)="getUsers()">getUsers33333333</button> <br> -->




<p>
  userList <br>
  user name : {{userName}} 
  <br>
  <!-- {{}} : 단방향 , [(ngModel)] : 양방향 -->
  <input type = "text" [(ngModel)] = "userName"/>
  <input type = "text" [(ngModel)] = "userAge"/>
  <button (click)="addUser()">add user</button> <br>

  <input type = "text" [(ngModel)]="userNum"/>
  <button (click)="updateUser()">update user</button> <br>

  <input type = "text" [(ngModel)]="userNum"/>
  <button (click)="deleteUser()">delete user</button> <br>
</p>

<ul>
  <li *ngFor="let un of userNameList" (click)="showUserHis(un.userNo)">
    {{ un.name }}, {{un.age}}
  </li>
</ul>
<button (click)="getUsers()">getUsers</button>
<div class = "container">
  <h2>User List</h2>
  <table class = "table table-hover">
    <thead>
      <tr>
        <th>userNo</th>
        <th>userName</th>
        <th>userId</th>
        <th>userPwd</th>
        <th>완료 여부</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf ="userList.length==0">
        <td colspan="6">데이터 없음</td>
      </tr>
      <tr *ngFor = "let un of userList" (click)="showUserHis(un.userNo)" >
        <td><input type = "text" value = "{{un.userNo}}" disabled=true/></td>
        <td><input type = "text" [(ngModel)] = "un.userName"/></td>
        <td><input type = "text" [(ngModel)] = "un.userId"/></td>
        <td><input type = "text" [(ngModel)] = "un.userPwd"/></td>
        <td><input type = "checkbox" [checked] = "un.complete"/></td>
      </tr>
    </tbody>
  </table>
</div>

<app-user-his [(visible)]="showDialog">
  <p *ngFor = "let us of userHisList">
    {{us.userNo}}, {{us.userData}}
  </p>  
  <p *ngIf = "userHisList.length == 0">
    데이터가 없습니다.
  </p>
 
</app-user-his> 